<ion-view hide-nav-bar="true">
  <ion-content>
    <ion-item class="item-remove-animate  item-icon-right item-thumbnail-left"
               href="#/app/playlists/max">
      <img  class="thumb" ng-src="img/shuming.jpg">
      <div>行走的蜗牛</div>
      <p>慢慢的走</p>
      <i class="icon ion-chevron-right icon-accessory"></i>

    </ion-item>
    <div class="list">
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i> 赞
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i> 参加
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i> 收藏
        </a>
      </div>
    </div>


    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-chatbubble-working"></i>
        我的活动
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        消息
        <span class="badge badge-assertive">5</span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        联系人
      </a>
    </div>
    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-gear"></i>
        设置
      </a>

    </div>

  </ion-content>
</ion-view>
