<ion-view view-title="活动">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-plus-empty" ng-click="addActivty()">
    </button>

  </ion-nav-buttons>
  <ion-content class="padding activity">
    <div class="list card">
      <div class="item text-left">
        <h3>东西冲穿越</h3>
      </div>
      <div class="item">

        <div class="text-left">
          <i class="icon ion-ios-partlysunny" style="font-size:88px"></i>
          <i class="icon ion-ios-partlysunny" style="font-size:88px"></i>
          <i class="icon ion-ios-partlysunny" style="font-size:88px"></i>
          <i class="icon ion-ios-partlysunny" style="font-size:88px"></i>
          <i class="icon ion-ios-partlysunny" style="font-size:88px"></i>
        </div>

      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-ios-heart-outline"></i>
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
        </a>
      </div>
    </div>

    <div class="list card">
      <div class="item text-left">
        <h3>从化古影线</h3>
      </div>
      <div class="item">

        <div class="text-left">
          <i class="icon ion-ios-partlysunny" style="font-size:88px"></i>
          <i class="icon ion-ios-partlysunny" style="font-size:88px"></i>
          <i class="icon ion-ios-partlysunny" style="font-size:88px"></i>
          <i class="icon ion-ios-partlysunny" style="font-size:88px"></i>
          <i class="icon ion-ios-partlysunny" style="font-size:88px"></i>
        </div>

      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-ios-heart-outline"></i>
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
